<div class="iconcontent">
  <div class="iconlogo">
    <mat-grid-list cols="3" rowHeight="220px">
      <mat-grid-tile>
        <img src="assets/logo2.png">
        <img src="assets/logo1.png">
          <img class="editing" src="assets/logo3.png">
      </mat-grid-tile>  
    </mat-grid-list>
      <span><strong>GORDON COLLEGE</strong>Online Voting System</span>
  </div>
</div>

<div class="vector">
  <div class="bgd">
      <img class="background" src="assets/background.png">
  </div>
  <div class="form">
    <form class="example-form">
      <h1>STUDENT PORTAL</h1>
          <div class="put">
            <mat-icon>account_box</mat-icon>
            <input matInput placeholder="Domain Email">
          </div>
          <div class="put">
            <mat-icon>lock</mat-icon>
            <mat-icon class="eye">remove_red_eye</mat-icon>
            <input type="password" matInput placeholder="Password">
          </div>
        <div class="btn">
          <button mat-flat-button>Login</button><br><br>
          <a href="#">Forgot Your Password ?</a>
        </div>
    </form>
  </div>
</div>